@import './token.less';

// 按钮基本样式
.@{components-prefix}btn-simple {
  cursor: pointer;
  border: var(--border);
  background-color: var(--background-color);
  color: var(--color);
  // outline-color: antiquewhite;
  // border-color: var(--border-color);
  outline-color: var(--outline-color);
  outline-offset: 3px;
  outline-width: medium;
  text-decoration: var(--text-decoration, none);
  &:hover {
    --background-color: var(--background-color-hover);
    --color: var(--color-hover);
    --text-decoration: var(--text-decoration-hover, none);
  }
  &:focus:not(.@{components-prefix}btn-simple-variant-link) {
    transform: translateY(1px);
    box-shadow: 0 3px 5px var(@btn-focus-boxShadow-color); /* 在活动状态下改变阴影颜色 */
  }
  // 居中
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // 大小高度
  box-sizing: border-box;
  padding: 6px 10px;

  white-space: nowrap;
  /* 禁止左键选中 */
  user-select: none;
}

.@{components-prefix}btn-simple-variant-primary {
  --border: none;
  --background-color: var(@btn-primary-bg-color);
  --color: var(@btn-primary-text-color);
  --background-color-hover: var(@btn-primary-bg-color-hover);
  --color-hover: var(@btn-primary-text-color-hover);
  --outline-color: var(@btn-outline-color);
}
.@{components-prefix}btn-simple-variant-secondary {
  --border: none;
  --background-color: var(@btn-secondary-bg-color);
  --color: var(@btn-secondary-text-color);
  --background-color-hover: var(@btn-secondary-bg-color-hover);
  --color-hover: var(@btn-secondary-text-color-hover);
  --outline-color: var(@btn-outline-color);
}
.@{components-prefix}btn-simple-variant-outline {
  --border: solid;
  --background-color: var(@btn-outline-bg-color);
  --color: var(@btn-outline-text-color);
  --background-color-hover: var(@btn-outline-bg-color-hover);
  --color-hover: var(@btn-outline-text-color-hover);
  --outline-color: var(@btn-outline-color);
}
.@{components-prefix}btn-simple-variant-text {
  --border: none;
  --background-color: var(@btn-text-bg-color);
  --color: var(@btn-text-text-color);
  --background-color-hover: var(@btn-text-bg-color-hover);
  --color-hover: var(@btn-text-text-color-hover);
  --outline-color: var(@btn-outline-color);
}
.@{components-prefix}btn-simple-variant-link {
  --border: none;
  --background-color: var(@btn-link-bg-color);
  --color: var(@btn-link-text-color);
  --background-color-hover: var(@btn-link-bg-color-hover);
  --color-hover: var(@btn-link-text-color-hover);
  --text-decoration-hover: underline;
  --outline-color: var(@btn-outline-color);
}
.@{components-prefix}btn-simple-variant-destructive {
  --border: none;
  --background-color: var(@btn-destructive-bg-color);
  --color: var(@btn-destructive-text-color);
  --background-color-hover: var(@btn-destructive-bg-color-hover);
  --color-hover: var(@btn-destructive-text-color-hover);
  --outline-color: var(@btn-outline-color);
}

// 按钮的禁用状态
// (实际添加中)后动态添加类，起到覆盖作用
.@{components-prefix}btn-simple-disabled {
  background-color: var(@btn-bg-color-disabled);
  color: var(@btn-text-color-disabled);
  cursor: not-allowed;
  text-decoration: none;
}

// 按钮的大小、字体尺寸
.@{components-prefix}btn-simple-size {
  &-mini {
    height: @btn-height-1;
    font-size: @btn-font-size-1;
  }
  &-small {
    height: @btn-height-2;
    font-size: @btn-font-size-2;
  }
  &-medium {
    height: @btn-height-3;
    font-size: @btn-font-size-3;
  }
  &-large {
    height: @btn-height-4;
    font-size: @btn-font-size-4;
  }
}
// 按钮的形状
.@{components-prefix}btn-simple-shape {
  &-square {
    border-radius: @btn-border-radius-square;
  }
  &-circle {
    border-radius: @btn-border-radius-circle;
  }
  &-round {
    border-radius: @btn-border-radius-round;
  }
}
