@import '../../style/theme.less';
@import '../../style/color/index.less';
@import './token.less';

.@{components-prefix}trigger {
  position: relative;
  display: inline-block;
}

.@{components-prefix}trigger-popup {
}
.@{components-prefix}trigger-popup-wrapper {
  position: absolute;
}
.@{components-prefix}trigger-popup-content {
}
