@import './token.less';

.@{components-prefix}trigger {
  position: relative;
  display: inline-block;
}

.@{components-prefix}trigger-popup {
  position: absolute;
}
.@{components-prefix}trigger-popup-wrapper {
}
.@{components-prefix}trigger-popup-content {
}
