@import '../../style/theme.less';

.cls {
  position: relative;
}

.newInput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // background-color: @color-normal-dark;
  border: solid;
  white-space: nowrap;
}

input {
  box-sizing: border-box;
  margin: 0 0.4em;
  width: 100px;
  border: none;
  outline: none;
}
.styleCommon() {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  // border: solid;
  user-select: none;
}
.styleCount {
  .styleCommon;
  margin-right: 0.6em;
  font-size: x-small;
}
.styleClear {
  .styleCommon;
  margin-right: 0.6em;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.3s ease;
  /* 添加过渡效果 */
  &:hover {
    opacity: 1;
  }
}

.prefix {
  .styleCommon;
  margin-left: 0.3em;
}
.suffix {
  .styleCommon;
  margin-right: 0.3em;
}

.disabled {
  opacity: 0.5; /* 降低不透明度 */
  cursor: not-allowed; /* 更改光标样式 */
  // user-select: none;
}

.size {
  // background: black;
  // background: black;
}

.mini {
  height: 24px;
  font-size: x-small;
}
.small {
  height: 28px;
  font-size: small;
}
.medium {
  height: 32px;
  font-size: medium;
}
.large {
  height: 36px;
  font-size: large;
}
