@import './token.less';
@import '../../trigger/style/index.less';

.@{components-prefix}dropdown {
  position: relative;
  display: inline-block;
}

.@{components-prefix}dropdown-content {
  position: absolute;
}
