@import './token.less';
@import '../../trigger/style/index.less';

.@{components-prefix}dropdown {
  position: relative;
  display: inline-block;
}

.@{components-prefix}dropdown-trigger-popup {
  position: absolute;

  min-width: 120px;
  border-radius: @dropdown-border-radius-circle;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
