@import '../../style/theme/index.less';

@btn-height-1: @height-1;
@btn-height-2: @height-2;
@btn-height-3: @height-3;
@btn-height-4: @height-4;

@btn-font-size-1: @font-size-1;
@btn-font-size-2: @font-size-2;
@btn-font-size-3: @font-size-3;
@btn-font-size-4: @font-size-4;

@btn-border-radius-square: @border-radius-none;
@btn-border-radius-circle: @border-radius-medium;
@btn-border-radius-round: @border-radius-round;
